@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  @apply text-custom-green;
  background-color: #f8f8f8;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.custom-border-opacity {
  border-opacity: 0.5;
}
